* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 1.5rem;

}

header {
    background-color: #000;

}

.header {
    max-width: 114rem;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 8.0rem;
    height: 8.0rem;
    background-color: #FDAF2D;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU DO HEADER */
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100px;
    border-bottom: 5px solid #000;

}

.menu li a:hover {
    border-bottom: 5px solid #FDAF2D;
    color: #999;
}


.menu .active a{
    border-bottom: 5px solid #FDAF2D;
    color: #999;
}

/* SLIDERSHOW */

.sliders {
    height: calc(80vh - 10rem);
    display: flex;
    overflow: hidden;
    position: relative;

}

.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}

.slide--item {
    flex: 1;
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.slider-controls {
    position: absolute;
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    cursor: pointer;
}

.slider-controls .slide-control img {
    width: 6rem;
    height: 6rem;

}


.slider-controls .slide-control {
    width: 6rem;
    height: 10rem;
    background: #999;
    display: flex;
    align-items: center;
    margin: 0 1% 0 1%;
    border-radius: 10%;
}

.slider-controls .slide-control:hover {
    background-color: #777676;
}


.slider--width .item-container {
    display: flex;
    max-width: 114rem;
    margin: auto;
    flex-direction: column;


}

.slider--width .item-container h1 {
    font-size: 6rem;
    color: #fff;
    margin-bottom: 1rem;
    font-family: 'Artifika', Arial, Helvetica, sans-serif;
}

.slider--width .item-container p {
    color: #ccc;
    font-size: 1.8rem;

}

.slide--item .bg-escuro {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100%;
    display: flex;
}

.slider-indicators {
    width: 100vw;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;

}

.indicator {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #999;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: #FDAF2D;
}

/* Seção 1 */

.default,
.default-2 {
    background-color: #fff;
    margin-bottom: 10rem;
}
#section-img {
    margin-top: 10rem;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    font-weight: 600;
}

.default .section-title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.default .section-desc {
    max-width: 114rem;
    margin: auto;
    color: #777676;
    margin-bottom: 2rem;
}

.default .section-body,
.default-2 .section-body {
    max-width: 114rem;
    margin: auto;
    min-width: 10rem;

}

.section-destaque {
    overflow: hidden;
}

.section-destaque .slides {
    display: flex;
}

.section-destaque .slide {
    flex: 1;
    margin-right: 2rem;
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
}

.section-destaque .slide:last-child {
    margin-right: 0px;
}

.section-destaque .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section-destaque .slidearea img {
    width: 100%;
    height: 300px;
    margin-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.section-destaque .destaque-title {
    display: flex;
    justify-content: center;
}

.section-destaque .destaque-title h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-destaque .slide-desc {
    text-align: justify;
}


.default-2 .section-containers {
    display: flex;
}

.default-2 .container {
    flex: 1;
    justify-content: center;
    margin-right: 2rem;

}

.default-2 .container:last-child {
    margin-right: 0px;
}

.default-2 .container-right img {
    width: 100%;
    height: 50rem;
    box-shadow: 0px 5px 10px #133313;
}

.default-2 .left-title {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.default-2 .left-desc {
    color: #777676;
}

.default-2 .container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.default-2 .container-info h3 {
    margin-bottom: 1rem;
}


/* SLIDE FOTOS */

.bg-slide {
    background-image: url('./image/bg-slide.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 0px;

}

.section-slide {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.slides--colection{
    display: flex;
    overflow: hidden;
    max-width: 102rem;
    margin: auto;
    height: 30rem;

}

.slides--colection .slider--colection {
    height: 100%;
    transition: all ease 0.5s;
    display: flex;
}


.slides--colection .slide--colection {
    width: 260px;
    height: 300px;
    margin-right: 2rem;
    background-size: cover;
    background-position: center;

}

.slides--colection .slider-controls-colection {
    position: absolute;
    z-index: 99;
    width: calc(4 * 25.5rem);
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    align-items: center;
    cursor: pointer;
}

.slides--colection .slider-controls-colection .slide-control-colection img {
    width: 50px;
    height: 60px;

}


.slides--colection .slider-controls-colection .slide-control-colection {
    width: 5rem;
    height: 8rem;
    background: #999;
    display: flex;
    align-items: center;
    margin:0;
    border-radius: 10%;
}

.slider-controls-colection .slide-control-colection:hover {
    background-color: #777676;
    
}

/* SECTION LOCALIZAÇÃO */

.default .section-map{
    display: flex;
   
}
.default .section-map .map-slide-right,
.default .section-map .map-slide-left{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.default .section-map .map-slide-left{
    margin-right: 3rem;
}
.map-slide-right img,
.map-slide-left img{
    width: 100%;
    height: 100%;
}
.default .section-map .map-slide-right{
    margin-left: 3rem;
}
.default .map-slide-left .map-title,
.default .map-slide-right .map-title{
 display: flex;
 justify-content: center;
 margin-top: 2rem;
 font-size: 1.5rem;
}
.default .section-map .button{
    font-size: 1.5rem;
    display: inline-flex;
    background-color: #FDAF2D;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border-radius: 2rem;
    padding: 10px 30px;
    margin-top: 2rem;
    
}

.default .section-map i{
    margin-left: 1rem;
    
    
}

/* FOOTER */
.footer{
    background-color: #000;
    color: #fff;
    padding-top: 3rem;
}

.footer .section-body {
    max-width: 114rem;
    margin: auto;
    min-width: 10rem;
}
.footer .footer-borda{
    width: 80%;
    margin: auto;
    height: 100%;
    border: 1px solid #fff;
}
.footer .footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 4rem; 
    
}

.footer-logo .logo{
    width: 30rem;
    height: 30rem;
    background-color: #fff;
}
.footer-container .footer-left{
    margin-right: 1.5rem;
}
.footer-left .footer-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 2rem;

}
.footer-icon i{
    color: #fff;
    font-size: 3rem;
    
}

.footer-container .footer-right{
    width: 40rem;
    
    margin-left: 1.5rem;
}
.footer-right .title{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-right .desc{
    text-align: justify;
    
}

.footer .footer-direito{
    width: 80%;
    margin: auto;
    padding: 10px 0 10px 0;
}
.footer-direito .direito-container{
    display: flex;
    justify-content: space-between;
}
.direito-container .termo{
    display: flex;

}
.direito-container .termo p{
    margin-right: 1rem;
    cursor: pointer;
}


/* RESPONSIVIDADE - TABLET 1 */

@media (max-width: 1030px) {
    .slides--colection .slider-controls-colection{
        display: none;
    }
}