* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
    /* faz uma rolagem suavem, porem não funciona em todos os navegadores */
    font-size: 62.5%;
}
:root{
    --color-orange:#FDAF2D;
    --color-black:#1f2937;
    --color-gray:#a3a3a3;
    --color-des:#33322d;
    --color-white:#fff;
    --color-section: #f2f2f2;

    --font-primary: "Plus Jakarta Sans", serif;
    --font-secondary: "Plus Jakarta Sans", serif;
    --font-accent: "Plus Jakarta Sans", serif;

}
body {
    overflow-x: hidden;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    

}

header {
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    

}

.header {
    font-family: var(--font-primary);
    max-width: 114rem;
    padding-left:1rem ;
    padding-right: 1rem;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    width: 10rem;
    margin-left: 1rem;
}
.logo img{
    width: 20rem;
    height: auto;
}

/* MENU DO HEADER */
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: var(--color-black);
    
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100px;
    border-bottom: 5px solid #00000000;
    font-size: 1.6rem;

}

.menu li a:hover {
    border-bottom: 5px solid var(--color-orange);
    color: var(--color-orange);
}


.menu .active a{
    border-bottom: 5px solid var(--color-orange);
    color: var(--color-orange);
}
#btn-menu{
    display: none;
}

/* SLIDERSHOW */


/* BANNER */
.sliders {
    height: 80vh;
    display: flex;
    overflow: hidden;
    position: relative;
    top: -10rem;
    z-index: -1;

}
.slide-fixo{
    display: none;
}
#bg-escuro{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100%;
    display: none;
}
.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}

.slide--item {
    flex: 1;
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    

}
/* BOTÃO DO SLIDER */
.slider-controls {
    position: absolute;
    z-index: 100;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    cursor: pointer;
}

.slider-controls .slide-control svg{
    width: 2rem;
    height:auto;
    color:var(--color-white);
    
    
    
}


.slider-controls .slide-control {
    width: 3rem;
    height: 6rem;
    background-color:transparent;
    border: 2px solid var(--color-white);
    display: flex;
    justify-content: center; /* Centraliza no eixo horizontal */
    align-items: center;    /* Centraliza no eixo vertical */
    margin: 0 1%;
    border-radius: 10%;
    
}

.slider-controls .slide-control:hover {
    background-color: #df8d00;
}

.slider-controls .slide-control:hover svg {
    color: #f3f1f1; /* O SVG muda de cor ao passar o mouse na área do slide-control */
}
.slider--width .item-container {
    display: flex;
    max-width: 60%;
    margin: auto;
    flex-direction: column;
    


}

.slider--width .item-container h1 {
    font-size: 6rem;
    color: var(--color-white);
    margin-bottom: 1rem;
    font-family: var(--font-primary); 
}
.slider--width .item-container span{
    color: #FDAF2D;
}
.slider--width .item-container p {
    color: var(--color-white);
    font-size: 1.8rem;
    font-family: var(--font-secondary);
    

}

.slide--item .bg-escuro {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100%;
    display: flex;
}

.slider-indicators {
    width: 100vw;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;

}

.indicator {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-white);
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: var(--color-orange);
}

/* BOTÃO DE ROLAGEM */
#back-to-top {
    position: fixed;
    bottom: 2vh; /* Posição relativa ao tamanho da viewport */
    right: 1vw;
    background-color:#FDAF2D;
    color: white;
    border: none;
    border-radius: 50%;
    width: 10vw; /* Ajustável ao tamanho da viewport */
    height: 10vw;
    max-width: 50px; /* Tamanho máximo */
    max-height: 50px;
    min-width: 40px; /* Tamanho mínimo */
    min-height: 40px;
    cursor: pointer;
    display: none; /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
#back-to-top:hover {
    background-color:#df8d00;
}
#back-to-top svg {
    width: 4rem;
    height: 4rem;
}

/* section 1 */
.menu-icon{
    display: none;
}
.menu-icon .section-body{
    max-width: 114rem;
    margin: auto;
    min-width: 10rem;
    
}
.menus-containes {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.menu-container img{
    width: 5rem;
    height: 5rem;
    
    
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height:12rem;
    border-radius: 50%;
    background-color: var(--color-section);
    cursor: pointer;
   
}
.container-img:hover{
    background-color: var(--color-orange);
}
.menu-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.menu-container .menu-desc{
    font-size: 2.2rem;
    font-weight: bold;
}
/* Seção 2 */

#default-section{
    background-color: var(--color-white); 
    padding-bottom: 8rem;
    padding-top: 8rem;
}
.default,
.default-2 {
    padding-bottom: 10rem;
    /* padding-top: 10rem; */
}
#section-img {
    padding-top: 10rem;
}

.default .section-title{
    font-family: var(--font-secondary);
    text-align: center;
}
.default .section-desc {
    font-family: var(--font-accent);
    text-align: center;
    font-weight: 400;
}

.default .section-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.default .section-desc {
    max-width: 114rem;
    margin: auto;
    color: var(--color-graylite);
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.default .section-body,
.default-2 .section-body {
    max-width: 114rem;
    margin: auto;
    min-width: 10rem;
   

}

/* ------ SECTION culinaria ------*/

.default-2 .section-containers-info-esquerda {
    display: flex;
}
.rodape{
    display: inline-block;
    position: relative;
    margin-bottom: 8rem;
}
.frase{
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 2.4rem;
    color: var(--color-black);
    letter-spacing: 2px;
}
.linha{
display: block;
position: absolute;
height: 5px; /* Espessura da linha */
background-color: var(--color-orange); /* Cor da linha */
bottom: -6px; /* Distância entre a linha e a palavra */
left: 0;
right: 0;
border-radius: 1rem;
}

.default-2 .container {
    flex: 1;
    justify-content: center;
    margin-right: 2rem;

}
.default-2 .section-containers-info-esquerda .right-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.default-2 .section-containers-info-esquerda .right-subtitle span{
    font-size: 2.4rem;
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--color-black);
}
.default-2  .section-containers-info-esquerda span#cor{
    color: var(--color-orange);
}
.default-2 .section-containers-info-esquerda .right-title span{
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: bold;
    color:var(--color-black);
    
}
.default-2 .section-containers-info-esquerda .right-title{
    margin-bottom: 2.5rem;
}
.default-2 .section-containers-info-esquerda .container .right-desc{
    font-family: var(--font-secondary);
    font-size: 2rem;
}
.default-2 .container:last-child {
    margin-right: 0px;
}
 
/* ----- botão */
.botao-culinaria{
    display: flex;
    align-items: center;
   }

/* Estilo do botão */
.botao-culinaria .saiba-mais-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem; /* Espaçamento interno */
    font-size: 1.7rem; /* Tamanho do texto */
    font-family: 'Arial', sans-serif; /* Fonte */
    font-weight: bold; /* Peso do texto */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    background: var(--color-black); /* Gradiente de fundo */
    border-radius: 5px; /* Bordas arredondadas */
    transition: all 0.3s ease; /* Transição para hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}
.botao-culinaria .btn-saiba-mais .icon-arrow {
    margin-left: 0.5rem; /* Espaçamento entre texto e ícone */
    
}
/* Efeito hover */
.botao-culinaria .saiba-mais-btn:hover {
    background: var(--color-orange); /* Gradiente invertido */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
    color: var(--color-black);
}

/* Efeito ao clicar */

/* ------ fim ------- */


/* -------  NUNCA FOI TÃO FACIL--------- */
.bg-floresta {
    background-image: url('./img_compactado/casavermelha.png');
    background-size: cover;
    background-position: bottom;
    padding: 0px;
    margin-left: 0rem;
    margin-right: 0rem;

}

.section-bgfloresta{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.subtitle-bg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15rem;
    
}
.subtitle-bg-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15rem;
    
}
.subtitle-bg span{
    font-size: 4.4rem;
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--color-white);
    letter-spacing: 2px;
}
.subtitle-bg-1 span{
    font-size: 4.4rem;
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--color-orange);
    letter-spacing: 2px;
}

/* ---------------- */
/* ------ cultura ----- */

.default-2 .section-containers-info-direita{
    display: flex;
}
.default-2 .section-containers-info-direita .alinhar-direta {
    display: flex;
    justify-content: flex-end; /* Alinha todo o conteúdo à direita */
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
}
.default-2 .section-containers-info-direita .rodape-{
    display: inline-block;
    position: relative;
    margin-bottom: 8rem;
}
.default-2 .section-containers-info-direita .frase{
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 2.4rem;
    color: var(--color-black);
    letter-spacing: 2px;
}
.default-2 .section-containers-info-direita .linha{
display: block;
position: absolute;
height: 5px; /* Espessura da linha */
background-color: var(--color-orange); /* Cor da linha */
bottom: -6px; /* Distância entre a linha e a palavra */
left: 0;
right: 0;
border-radius: 1rem;
}

.default-2 .section-containers-info-direita .left-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.default-2 .section-containers-info-direita .left-subtitle span{
    font-size: 2.4rem;
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--color-black);
}
.default-2  .section-containers-info-direita span#cor{
    color: var(--color-orange);
}
.default-2  .section-containers-info-direita .left-title span{
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: bold;
    color:var(--color-black);
}
.default-2 .section-containers-info-direita .left-title{
    margin-bottom: 2.5rem;
}
.default-2 .section-containers-info-direita .container .left-desc{
    font-family: var(--font-secondary);
    color: var(--color-black);
}
.left-title,
.left-desc {
    text-align: right; /* Alinha o texto à direita */
}

/* ----- botão */
.botao-cultura {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   }

/* Estilo do botão */
.saiba-mais-btn {
    display: inline-block;
    padding: 1rem 4rem; /* Espaçamento interno */
    font-size: 1.8rem; /* Tamanho do texto */
    font-family: 'Arial', sans-serif; /* Fonte */
    font-weight: bold; /* Peso do texto */
    color: var(--color-white); /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    background: var(--color-black); /* Gradiente de fundo */
    border-radius: 5px; /* Bordas arredondadas */
    transition: all 0.3s ease; /* Transição para hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Efeito hover */
.saiba-mais-btn:hover {
    background: var(--color-orange); /* Gradiente invertido */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
    color: var(--color-black);
}

/* Efeito ao clicar */
.saiba-mais-btn:active {
    transform: scale(1); /* Retorna ao tamanho original */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduz a sombra */
}
/* ------ fim ------- */
/* ----- fim ----- */



/* trapezio da imagem do lado direito */
.default-2 .container-right .trapezio{
    width: 100%;
    overflow: visible; /* Permite que a sombra seja visível fora do contêiner */
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%); /* Forma de trapézio */
}
.default-2 .container-right img {
    width: 100%;
    height: 50rem;
    
}
/* -----fim -------*/

/* trapezio da imagem do lado esquerdo */
.default-2 .container-left .trapezio{
    width: 100%;
     overflow: hidden; /* Garante que o conteúdo fique dentro do contêiner */
     clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%); /* Forma de trapézio */
}
.default-2 .container-left img {
    width: 100%;
    height: 50rem;
}
/* ---fim---- */

.default-2 .left-desc {
    color: var(--color-des);
    font-size: 2rem;
}

.default-2 .container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.default-2 .container-info .dest-info{
    font-family: var(--font-accent);
}

.default-2 .container-info h2 {
    margin-bottom: 1rem;
    font-family: var(--font-primary);
}

/* ----------slide galeria ------------*/
.bg-slide {
    background-image: url('./img_compactado/casario.jpeg');
    background-size: cover;
    background-position: bottom;
    padding: 0px;
    margin-left: 0rem;
    margin-right: 0rem;

}

.section-slide {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.section-slide-title{
    display: flex;
    
}

.section-slide-title .rodape{
    display: inline-block;
    position: relative;
    margin-bottom: 6rem;
}
.section-slide-title .frase{
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 2.4rem;
    color: var(--color-white);
    letter-spacing: 2px;
}
.section-slide-title .linha{
    display: block;
    position: absolute;
    height: 5px; /* Espessura da linha */
    background-color: var(--color-orange); /* Cor da linha */
    bottom: -6px; /* Distância entre a linha e a palavra */
    left: 0;
    right: 0;
    border-radius: 1rem;
}
.section-slide .slide-texto{
    margin-bottom: 8rem;
}
.section-slide .slide-subtitle{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 2rem;
}
.section-slide .slide-texto .slide-title span{
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--color-white);
}
.section-slide .slide-texto .slide-title span#cor{
    color: var(--color-orange)
}
.section-slide .slide-texto .slide-subtitle span#cor{
    color: var(--color-orange)
}
.slides--colection{
    display: flex;
    overflow: hidden;
    max-width: 102rem;
    margin: auto;
    height: 30rem;

}

.slides--colection .slider--colection {
    height: 100%;
    transition: all ease 0.5s;
    display: flex;
}


.slides--colection .slide--colection {
    width: 260px;
    height: 300px;
    margin-right: 2rem;
    background-size: cover;
    background-position: center;
    border-radius: 5px;

}

.slides--colection .slider-controls-colection {
    position: absolute;
    z-index: 99;
    width: calc(4 * 25.5rem);
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    align-items: center;
    cursor: pointer;
}

.slides--colection .slider-controls-colection .slide-control-colection svg{
    width: 2rem;
    height: auto;
    color: var(--color-white);

}


.slides--colection .slider-controls-colection .slide-control-colection {
    width: 3rem;
    height: 6rem;
    background: transparent;
    display: flex;
    align-items: center;
    margin:0;
    border-radius: 10%;
    border: 2px solid var(--color-white);
    
}

.slider-controls-colection .slide-control-colection:hover {
    background-color: var(--color-orange);
    
}

.botao-paisagem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
   }
.botao-paisagem .saiba-mais-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem; /* Espaçamento interno */
    font-size: 1.7rem; /* Tamanho do texto */
    font-family: 'Arial', sans-serif; /* Fonte */
    font-weight: bold; /* Peso do texto */
    color: var(--color-black); /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    background: var(--color-white); /* Gradiente de fundo */
    border-radius: 5px; /* Bordas arredondadas */
    transition: all 0.3s ease; /* Transição para hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}
.botao-paisagem .btn-saiba-mais .icon-arrow {
    margin-left: 0.5rem; /* Espaçamento entre texto e ícone */
    
}
/* Efeito hover */
.botao-paisagem .saiba-mais-btn:hover {
    background: var(--color-orange); /* Gradiente invertido */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
    color: var(--color-black);
}

/* ----------fim--------- */
/* SECTION LOCALIZAÇÃO */

.atracao{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.atracao-card {
    background-color: var(--color-black);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--color-des);
    transition: transform 0.3s, box-shadow 0.3s;
}

.atracao-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.atracao-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.atracao-content{
    padding: 1.5rem;
}

.atracao-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--color-white);
}

.atracao-description {
    margin-bottom: 1rem;
    color: var(--color-white);
    font-size: 1.4rem;
}

.atracao-btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--color-orange);
    color: var(--color-black);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
}

.atracao-btn:hover {
    background-color: var(--color-white);
}



/* FOOTER 2 */


/* Estilos gerais */

/* Estilos do footer */
.footer {
    background-color: #1f2937; /* bg-gray-800 */
    color: white;
    padding-top: 10rem;

}

.footer-container {
    max-width: 114rem;
    min-width: 10rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem; /* gap-8 */
}

@media (min-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Seção Sobre Nós */
.footer-about {
    text-align: center;
}

.footer-about h4 {
    font-size: 2rem; /* text-xl */
    font-weight: bold;
    margin-bottom: 1rem; /* mb-4 */
}

.footer-about p {
    color: #d1d5db; /* text-gray-300 */
    font-size: 1.5rem; /* text-sm */
    padding-right: 10rem;
    font-family: var(--font-accent);
}

@media (min-width: 768px) {
    .footer-about {
        text-align: left;
    }
}

/* Seção Social */
.footer-social {
    text-align: center;
}


.social-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.social-icons {
    display: flex;

    justify-content:end;
    margin-top: 1rem;
    gap: 1.5rem;
}

.social-icons a {
    color: white;
    font-size: 1.5rem; /* text-2xl */
    transition: color 0.3s;
    font-family: var(--font-secondary);
}

.social-icons a:hover {
    color: var(--color-orange); /* hover:text-blue-300 */
}

/* Seção Links Úteis */
.footer-links {
    text-align: center;
}

.footer-links h4 {
    font-size: 2rem; /* text-xl */
    font-weight: bold;
    margin-bottom: 1rem; /* mb-4 */
}

.links-list {
    color: #d1d5db; /* text-gray-300 */
    font-size: 1.5rem; /* text-sm */
}

.links-list a {
    display: block;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
    text-decoration: none;
    color: var(--color-white);
}

.links-list a:hover {
    color: var(--color-orange);
}

@media (min-width: 768px) {
    .footer-links {
        text-align: right;
    }
}

/* Copyright */
.footer-copyright {
    text-align: center;
    color: #9ca3af; /* text-gray-400 */
    font-size: 1.5rem; /* text-sm */
    margin-top: 1.5rem; /* mt-6 */
    border-top: 1px solid #374151; /* border-t border-gray-700 */
    padding-top: 1rem;
    padding-bottom: 1rem; /* pt-4 */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ******* */





/* PAGINAAAAA 1 */


/* RESPONSIVIDADE - CELULAR 1 */


@media (max-width: 768px){

    /* ----------MENU HAMBURGUER------- */
    #btn-menu{
        display: block;
        margin-right:1.5rem ;
        cursor: pointer;
    }
    #menu{
        display: block;
        /* display: block; */
        position: absolute;
        width: 80%;
        top: 10rem;
        right: 0px;
        background-color: rgba(0, 0, 0, 1);
        transition: .6s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y:hidden ;
    }
    #nav.actived #menu{
        height: calc(100vh - 10rem);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 2rem;
        font-size: 2rem;
    }
/* =--------------------------------------------------- */

/* ----------- SLIDE DO HERO ---------------- */
    .slider--width{
        display: none;
    }
    .sliders{
        background-image: url(/assents/img_compactado/bg2.jpg);
        background-position: center;
    }
    #bg-escuro{
        display: flex;
    }
    .slide-fixo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slide-fixo h1{
    font-size: 5rem;
    color: var(--color-white);
    margin: 1rem 3rem;
    font-family: var(--font-secondary);
    }
    .slide-fixo p{
        color: var(--color-white);
        margin: 1rem 3rem;
        font-family: var(--font-primary);
    }
    /* .menu-container, */
    .slider-indicators,
    .slider-controls{
        display: none;
    }



    /* SECTION 1  */
    .menus-containes{
        flex-wrap: wrap;
    }
    .menu-container{
        min-width: 25%;
    }
    


    /* SECTION 2 */
    
   
    .section-destaque .slides{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .section-destaque .slide{
        display: flex;
        width: 65rem;
        height: auto;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    

    /* SECTION 3 */
    
    .default-2 .left-title h1{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .default-2 .left-desc{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .default-2 .container-info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }
    .section-container-bottom{
        display: none;
    }
    
}



/* TAMANHO PARA TABLET */

@media (min-width: 768px) and (max-width: 1024px) {

    /*---------- MENU HAMBURGUER ---------*/
    #btn-menu{
        display: block;
        margin-right:1.5rem ;
        cursor: pointer;
    }
    #menu{
        display: block;
        /* display: block; */
        position: absolute;
        width: 60%;
        top: 10rem;
        right: 0px;
        background-color: rgba(0, 0, 0, 1);
        transition: .6s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y:hidden ;
    }
    #nav.actived #menu{
        height: calc(100vh - 10rem);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 2rem;
        font-size: 2rem;
    }

/* ----------------------------------------- */
    .logo {
    margin-left: 1rem;
    }

    .menu-icon { 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-section);
        width: 100%;
        padding: 1rem;
    }

    .menus-containes {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .menu-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    .menu-container img {
        width: 4rem;
        height: 4rem;
    }

    .container-img {
        width: 10rem;
        height: 10rem;
    }

    .menu-container .menu-desc {
        font-size: 1.8rem;
    }
}

/* ****************** FIM ***************************** */
