* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
    /* faz uma rolagem suavem, porem não funciona em todos os navegadores */
    font-size: 62.5%;
}
:root{
    --color-orange:#FDAF2D;
    --color-black:#000;
    --color-gray:#a3a3a3;
    --color-des:#000;
    --color-white:#fff;
    --color-section: #f2f2f2;

}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 1.5rem;
    

}

header {
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    

}

.header {
    max-width: 114rem;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 8.0rem;
    height: 8.0rem;
    background-color: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU DO HEADER */
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: var(--color-black);
    
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100px;
    border-bottom: 5px solid #00000000;

}

.menu li a:hover {
    border-bottom: 5px solid var(--color-orange);
    color: var(--color-orange);
}


.menu .active a{
    border-bottom: 5px solid var(--color-orange);
    color: var(--color-orange);
}
#btn-menu{
    display: none;
}

/* SLIDERSHOW */
/* BANNER */


.sliders {
    height: 80vh;
    display: flex;
    overflow: hidden;
    position: relative;
    top: -10rem;
    z-index: -1;

}
.slide-fixo{
    display: none;
}
#bg-escuro{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100%;
    display: none;
}
.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}

.slide--item {
    flex: 1;
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    

}

.slider-controls {
    position: absolute;
    z-index: 100;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    cursor: pointer;
}

.slider-controls .slide-control img {
    width: 5rem;
    height: 5rem;
    
}


.slider-controls .slide-control {
    width: 5rem;
    height: 9rem;
    background: var(--color-white);
    display: flex;
    align-items: center;
    margin: 0 1% 0 1%;
    border-radius: 10%;
    
}

.slider-controls .slide-control:hover {
    background-color:var(--color-orange);
}


.slider--width .item-container {
    display: flex;
    max-width: 60%;
    margin: auto;
    flex-direction: column;
    


}

.slider--width .item-container h1 {
    font-size: 6rem;
    color: var(--color-white);
    margin-bottom: 1rem;
    font-family: 'Artifika', Arial, Helvetica, sans-serif;
}

.slider--width .item-container p {
    color: var(--color-white);
    font-size: 1.8rem;

}

.slide--item .bg-escuro {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100%;
    display: flex;
}

.slider-indicators {
    width: 100vw;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;

}

.indicator {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-white);
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: var(--color-orange);
}



/* section 1 */
.menu-icon .section-body{
    max-width: 114rem;
    margin: auto;
    min-width: 10rem;
}
.menus-containes {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.menu-container img{
    width: 5rem;
    height: 5rem;
    
    
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height:12rem;
    border-radius: 50%;
    background-color: var(--color-section);
    cursor: pointer;
   
}
.container-img:hover{
    background-color: var(--color-orange);
}
.menu-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.menu-container .menu-desc{
    font-size: 2.2rem;
    font-weight: bold;
}
/* Seção 2 */
.default-2{
    background-color: var(--color-white);
}
#defaut-section{
    background-color: var(--color-section);
    padding-bottom: 10rem;
    padding-top: 10rem;
}
.default,
.default-2 {
    padding-bottom: 10rem;
    padding-top: 10rem;
}
#section-img {
    padding-top: 10rem;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    font-weight: 600;
}

.default .section-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.default .section-desc {
    max-width: 114rem;
    margin: auto;
    color: var(--color-graylite);
    margin-bottom: 2rem;
}

.default .section-body,
.default-2 .section-body {
    max-width: 114rem;
    margin: auto;
    min-width: 10rem;

}

.section-destaque {
    overflow: hidden;
}

.section-destaque .slides {
    display: flex;
}

.section-destaque .slide {
    flex: 1;
    margin-right: 2rem;
    width: 28rem;
    height: 100%;
    min-height: 30rem;
    display: inline-block;
}

.section-destaque .slide:last-child {
    margin-right: 0px;
}

.section-destaque .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section-destaque .slidearea img {
    width: 100%;
    height: 30rem;
    margin-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.section-destaque .destaque-title {
    display: flex;
    justify-content: center;
}

.section-destaque .destaque-title h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-destaque .slide-desc {
    text-align: justify;
    font-size: 1.7rem;
    color:var(--color-des);
}

/* SECTION 3 */
.default-2 .section-containers {
    display: flex;
}

.default-2 .container {
    flex: 1;
    justify-content: center;
    margin-right: 2rem;

}

.default-2 .container:last-child {
    margin-right: 0px;
}

.default-2 .container-right img {
    width: 100%;
    height: 50rem;
    box-shadow: 0px 5px 10px #133313;
}

.default-2 .left-title h1{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.default-2 .left-desc {
    color: var(--color-des);
    font-size: 2rem;
}

.default-2 .container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.default-2 .container-info h3 {
    margin-bottom: 1rem;
}
.card{
    display: flex;
    width: 114rem;
    justify-content: space-between;
    padding-top: 2rem;
}
.card-turis{
    background-color: var(--color-white);
    width:20rem;
    height: 25rem;
    display: flex;
    flex-direction:column ;
    /* justify-content: center; */
    align-items: center;
    padding-top: 2rem;
    
    
}
.card {
    width: 114rem;
    margin: auto;
}
.card-turis img{
    width: 15rem;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
   
}
.card-turis .desc{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.desc h1{
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

/* SECTION COMIDA */

.section-container-bottom{
    padding-top: 5rem;
    display: flex;
    gap: 3rem;
}
.section-container-bottom img{
    width: 20rem;
    height: 20rem;
    border-top-right-radius: 4rem;
}
/* SLIDE FOTOS */


.bg-slide {
    background-image: url('./image/bg-slide.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 0px;
    margin-left: 0rem;
    margin-right: 0rem;

}

.section-slide {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.section-slide-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
}
.section-slide-title h1{
    color: var(--color-white);
    font-size: 5rem;
    text-transform: uppercase;
}
.slides--colection{
    display: flex;
    overflow: hidden;
    max-width: 102rem;
    margin: auto;
    height: 30rem;

}

.slides--colection .slider--colection {
    height: 100%;
    transition: all ease 0.5s;
    display: flex;
}


.slides--colection .slide--colection {
    width: 260px;
    height: 300px;
    margin-right: 2rem;
    background-size: cover;
    background-position: center;

}

.slides--colection .slider-controls-colection {
    position: absolute;
    z-index: 99;
    width: calc(4 * 25.5rem);
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    align-items: center;
    cursor: pointer;
}

.slides--colection .slider-controls-colection .slide-control-colection img {
    width: 5rem;
    height: 5rem;

}


.slides--colection .slider-controls-colection .slide-control-colection {
    width: 5rem;
    height: 8rem;
    background: var(--color-white);
    display: flex;
    align-items: center;
    margin:0;
    border-radius: 10%;
}
.slides--colection .slider-controls-colection .slide-control-colection:hover{
    border: 1.5px solid var(--color-black);
}
.slider-controls-colection .slide-control-colection:hover {
    background-color: var(--color-orange);
    
}

/* SECTION LOCALIZAÇÃO */

.default .section-map{
    display: flex;
   
}
.default .section-map .map-slide-right,
.default .section-map .map-slide-left{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.default .section-map .map-slide-left{
    margin-right: 3rem;
}
.map-slide-right img,
.map-slide-left img{
    width: 100%;
    height: 100%;
}
.default .section-map .map-slide-right{
    margin-left: 3rem;
}
.default .map-slide-left .map-title,
.default .map-slide-right .map-title{
 display: flex;
 justify-content: center;
 margin-top: 2rem;
 font-size: 1.5rem;
}
.default .section-map .button{
    font-size: 2rem;
    display: inline-flex;
    background-color: var(--color-gray);
    color: var(--color-black);
    text-decoration: none;
    font-weight: 600;
    border-radius: 2rem;
    padding: 10px 30px;
    margin-top: 2rem;
    
}
.section-map .button:hover{
    background-color: var(--color-orange);
}
.default .section-map i{
    margin-left: 1rem;
    
}

/* FOOTER */
.footer{
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 3rem;
}

.footer .section-body {
    max-width: 114rem;
    margin: auto;
    min-width: 10rem;
}
.footer .footer-borda{
    width: 90%;
    margin: auto;
    height: 100%;
    border: 1px solid var(--color-white);
}
.footer .footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 4rem; 
    
}

.footer-logo .logo{
    width: 30rem;
    height: 30rem;
    background-color: var(--color-white);
}
.footer-container .footer-left{
    margin-right: 1.5rem;
}
.footer-left .footer-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 2rem;

}
.footer-icon img{
    width: 4rem;
    height: 4rem;
    
}
.footer-icon img:hover{
    animation: translateY 0.8s infinite alternate ;
} 
@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}
.footer-container .footer-right{
    width: 40rem;
    
    margin-left: 1.5rem;
}
.footer-right .title{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-right .desc{
    text-align: justify;
    
}

.footer .footer-direito{
    width: 90%;
    margin: auto;
    padding: 10px 0 10px 0;
}
.footer-direito .direito-container{
    display: flex;
    justify-content: space-between;
}
.direito-container .termo{
    display: flex;

}
.direito-container .termo p{
    margin-right: 1rem;
    cursor: pointer;
}


/* RESPONSIVIDADE - TABLET 1 */


@media (max-width:700px){

    #btn-menu{
        display: block;
        margin-right:1.5rem ;
        cursor: pointer;
    }
    #menu{
        display: block;
        /* display: block; */
        position: absolute;
        width: 80%;
        top: 10rem;
        right: 0px;
        background-color: rgba(0, 0, 0, 1);
        transition: .6s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y:hidden ;
    }
    #nav.actived #menu{
        height: calc(100vh - 10rem);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 2rem;
        font-size: 2rem;
    }

    .slider--width{
        display: none;
    }
    .sliders{
        background-image: url(/assents/img_compactado/bg2.jpg);
        background-position: center;
    }
    #bg-escuro{
        display: flex;
    }
    .slide-fixo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slide-fixo h1{
    font-size: 5rem;
    color: var(--color-white);
    margin: 1rem 3rem;
    font-family: 'Artifika', Arial, Helvetica, sans-serif;
    }
    .slide-fixo p{
        color: var(--color-white);
        margin: 1rem 3rem;
        font-family: 'Artifika', Arial, Helvetica, sans-serif;
    }
    /* .menu-container, */
    .slider-indicators,
    .slider-controls{
        display: none;
    }
    /* SECTION 1 -MENU */
    .menus-containes{
        flex-wrap: wrap;
    }
    .menu-container{
        min-width: 25%;
    }
    /* SECTION 2 */
    .default .section-title{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .section-destaque .slides{
        flex-direction: column;
        
    }
    .section-destaque .slide{
        display: flex;
        width: 65rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }

    /* SECTION 3 */
    .card{
        display: none;
    }
    .default-2 .left-title h1{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .default-2 .left-desc{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .default-2 .container-info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }
    .section-container-bottom{
        display: none;
    }
    
}






@media (max-width:1150px){

    .menus-containes{
    gap: 8rem;
    justify-content: center;
    }
    .section-container-bottom,
    .card{
        justify-content: center;
        gap: 8rem;
    }
    #img-comida-5,
    #card-5{
        display: none;
    }
}


@media (max-width: 1030px) {
    .slides--colection .slider-controls-colection{
        display: none;
    }
}

@media (max-width: 1010px){
    .slides--colection{
        max-width: 76rem;
    }
    .default-2 .section-containers{
        flex-direction: column;
    }
    .default-2 .section-containers.reverse{
        flex-direction: column-reverse;
    }
    .default-2 .container{
        margin-right: 0;
    }
    .container-right{
        display: flex;
        margin-top: 2rem;

    }
    .default-2 .container-right img{
        width: 60rem;
        height: 40rem;
        margin: auto;
        
    }
}